.notification {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

	&--negative &__text{
		background: #ff2942;
	}
	&--negative &__line {
		background: #b91a2c;
	}

	&--positive &__text{
		background: #26b927;
	}
	&--positive &__line {
		background: #0c7316;
	}

    &__text {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        color: #fff;
    }
    
    &__line {
        width: 100%;
        height: 5px;
        background: #b91a2c;
    }

    &__line-active {
        background: #fff;
        height: 100%;
        width: 100%;
		animation: animate-notification-line 3s;
    }
}

@keyframes animate-notification-line {
	0% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}