@use 'src/styles/variables' as *;

.student-task-page {
	margin-top: 1.5em;
}

.student-task-list {
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.2em 1.5em;
		transition: $transition;

		&:hover {
			background: $bg-contrast-hover-color;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $dark-color;
		}
	}

	&__info {
		display: flex;
		align-items: center;
	}

	&__info-grade {
		margin-left: 1.5em;
		padding: 0.3em 0.5em;
		background-color: #72c861;
		color: #fff;
		border-radius: 5px;
	}
}