@use 'src/styles/variables' as *;

.input {
	display: block;
    height: 40px;
    width: 100%;
	padding-left: 25px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	font-family: inherit;
	font-size: inherit;
	color: $dark-color;
    background: $bg-contrast-color;
	transition: $transition;
    outline: none;

	&:hover,
	&:focus {
		border-color: $dark-color;
	}
}

