@use 'src/styles/variables' as *;

$positive-color: #61b94f;
$negative-color: #e94545;

.button-decision {
	display: block;
    width: max-content;
    min-width: 200px;
    padding: 1em;
    border-radius: 50px;
    border: 1px solid transparent;
	font-family: inherit;
	font-size: inherit;
    text-align: center;
    cursor: pointer;
	transition: $transition;
	background: transparent;

    &--positive {
        border-color: $positive-color;
        color: $positive-color;

        &:hover {
            background-color: $positive-color;
            color: #fff;
        }
    }

	&--positive + &--negative, &--negative + &--positive{
		margin-left: 20px
	}

    &--negative {
        border-color: $negative-color;
        color: $negative-color;

        &:hover {
            background-color: $negative-color;
            color: #fff;
        }
    }

}
