@use 'styles/variables' as *;

$color-bg-name-class: #ff8929;

.classroom {
	&__header {
		display: flex;
		align-items: stretch;
		margin: 20px 0;
		background-color: $bg-contrast-color;
		box-shadow: $main-boxShadow;
	}

	&__name-classroom {
		padding: 20px;
		min-width: 300px;
		max-width: 430px;
		text-align: center;
		font-size: 16px;
		color: #fff;
		background-color: $color-bg-name-class;
	}

	&__nav {
		display: flex;
		flex-grow: 1;
		list-style: none;

		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 30px;
			text-decoration: none;
			color: inherit;
			
			&:hover {
				background-color: $bg-contrast-hover-color;
			}
		}

		&-item--settings {
			margin-left: auto;
		}
	}
}

@media screen and (max-width: 1500px) {
	.classroom {
		&__name-classroom {
			padding: 20px;
			font-size: 14px;
		}
	}
}