@use 'src/styles/variables' as *;

.button-go-back {
	position: relative;
	display: inline-block;
	padding: 10px 15px 10px 45px;
	margin-bottom: 1.2em;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: 500;
	text-decoration: none;
	transition: $transition;
	cursor: pointer;

	&:hover {
		background: $bg-contrast-color;
	}

	&:hover::before {
		transform: translateX(-5px);
	}

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 25px;
		height: 20px;
		background-image: url("../../assets/icons/ButtonGoBack/arrow-back.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		top: 0;
		bottom: 0;
		left: 15px;
		margin: auto;
		transition: $transition;
	}
}