@use 'src/styles/variables' as *;

.textarea-label {
	display: inline-block;
    font-size: 14px;
    padding-bottom: .5em;
	padding-left: 1em;
}

.textarea-wrapper {
	display: block;
	width: 100%;
}

