@use 'src/styles/variables' as *;

.classrooms {
    .button-add {
        margin: 20px auto;
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $bg-contrast-color;
        height: 50px;
        padding: 0 50px;
        margin-bottom: 10px;
        border-radius: 25px;
        border: 1px solid transparent;
        box-shadow: $main-boxShadow;
        transition: $transition;
        cursor: pointer;

        &:hover {
            border-color: $accent-color;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__list-item-members {
        font-size: 14px;
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
}