@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: $bg-color;
	color: $dark-color;
}

.container {
	width: 1340px;
	margin: 0 auto;
}

.container--narrow {
	width: 750px;
	margin: 0 auto;
}

.container--styled-content {
	padding: 3.5em 4.5em;
	background-color: $bg-contrast-color;
	box-shadow: $main-boxShadow;

	& > * {
		margin-bottom: 1.2em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form {
	& > * {
		margin-bottom: 1.2em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__label-error {
		display: inline-block;
		margin-top: 0.5em;
		padding-left: 1em;
		color: $red-color;
	}
}

.layout-flex__space-between__align-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

